.diagram {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  max-width: 100%;
  aspect-ratio: 1;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr max-content 1fr;
  grid-template-areas:
    'axis-y field'
    '. axis-x';
  gap: 5px;
}

.diagram__axis_type_x {
  grid-area: axis-x;
}

.diagram__axis_type_y {
  grid-area: axis-y;
}

.diagram__field {
  grid-area: field;
}
