.cell {
  --color: 200, 200, 200;
  background-color: rgba(var(--color), 0.7);
  /* border-radius: 50%; */
  position: relative;
  cursor: pointer;
}

.cell__dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(var(--color), 1);
  /* z-index: 3; */
  transition: transform 0.2s;
}

.cell:hover .cell__dot {
  transform: translate(-50%, -50%) scale(2.5);
  outline: 2px solid rgba(255, 255, 255, 0.7);
  z-index: 2;
}

/* Ячейки с разными билетами */
.cell[data-ticket='allInOne_trips_60'] {
  --color: var(--ticket-allInOne_trips_60);
}

.cell[data-ticket='allInOne_days_30'] {
  --color: var(--ticket-allInOne_days_30);
}

.cell[data-ticket='allInOne_days_90'] {
  --color: var(--ticket-allInOne_days_90);
}

.cell[data-ticket='allInOne_days_365'] {
  --color: var(--ticket-allInOne_days_365);
}

.cell[data-ticket='troika'] {
  --color: var(--ticket-troika);
}

.cell[data-ticket='bankcard_mir-promo'] {
  --color: var(--ticket-bankcard_mir-promo);
}

.cell[data-ticket='tat_days_30'] {
  --color: var(--ticket-tat_days_30);
}

.cell[data-ticket='compound__tat_days_30__troika'] {
  --color: var(--ticket-compound__tat_days_30__troika);
}

.cell[data-ticket='tat_days_90'] {
  --color: var(--ticket-tat_days_90);
}

.cell[data-ticket='compound__tat_days_90__troika'] {
  --color: var(--ticket-compound__tat_days_90__troika);
}

.cell[data-ticket='tat_days_365'] {
  --color: var(--ticket-tat_days_365);
}

.cell[data-ticket='compound__tat_days_365__troika'] {
  --color: var(--ticket-compound__tat_days_365__troika);
}

.cell__tooltip {
  visibility: hidden;
  position: absolute;
  left: 50%;
  bottom: 50%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 0.2em;
  padding: 0.5em;
  padding-left: 2em;
  font-size: smaller;
  line-height: 1.2;
  width: max-content;
  font-weight: normal;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
}

.cell:hover .cell__tooltip {
  visibility: visible;
  transition: visibility 0s 0.5s;
}

.cell__info {
  margin: 0;
}
