.cell {
  background: #eee;
  border-radius: 40%;
}

.cell:hover {
  outline: 3px solid rgba(0, 0, 0, 0.3);
  outline-offset: 5px;
  z-index: 1;
}

/* Ячейки с разными билетами */
.cell[data-ticket='allInOne_trips_60'] {
  background-color: var(--ticket-allInOne_trips_60);
}

.cell[data-ticket='allInOne_days_30'] {
  background-color: var(--ticket-allInOne_days_30);
}

.cell[data-ticket='allInOne_days_90'] {
  background-color: var(--ticket-allInOne_days_90);
}

.cell[data-ticket='allInOne_days_365'] {
  background-color: var(--ticket-allInOne_days_365);
}

.cell[data-ticket='troika'] {
  background-color: var(--ticket-troika);
}

.cell[data-ticket='bankcard_mir-promo'] {
  background-color: var(--ticket-bankcard_mir-promo);
}

.cell[data-ticket='tat_days_30'] {
  background-color: var(--ticket-tat_days_30);
}

.cell[data-ticket='compound__tat_days_30__troika'] {
  background-color: var(--ticket-compound__tat_days_30__troika);
}

.cell[data-ticket='tat_days_90'] {
  background-color: var(--ticket-tat_days_90);
}

.cell[data-ticket='compound__tat_days_90__troika'] {
  background-color: var(--ticket-compound__tat_days_90__troika);
}

.cell[data-ticket='tat_days_365'] {
  background-color: var(--ticket-tat_days_365);
}

.cell[data-ticket='compound__tat_days_365__troika'] {
  background-color: var(--ticket-compound__tat_days_365__troika);
}
