.legend-label {

}

.legend-label__label {
  display: flex;
  gap: .4em;
  align-items: baseline;
}

.legend-label__title {
  margin: 0;
  padding: .4em;
  font-size: .9em;
  color: #000;
  text-decoration: line-through;
  border-radius: .4em;
  opacity: .5;
  background-color: #eee;
  transition: opacity .1s;
}

.legend-label__checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.legend-label__checkbox:checked + .legend-label__title {
  text-decoration: none;
  opacity: 1;
}

.legend-label__checkbox:disabled + .legend-label__title {
  filter: grayscale();
  opacity: .6;
}

.legend-label_current .legend-label__title {
  outline: 2px solid gold;
  outline-offset: 2px;
  transform: rotate(-2deg) scale(1.05);
  box-shadow: 0 0 .5em #aaa;
}


/* Разные билеты */
.ticket_id_allInOne_trips_60 .legend-label__title {
  background-color: #c0504d;
  color: #fff;
}

.ticket_id_allInOne_days_30 .legend-label__title {
  background-color: #cc5652;
  color: #fff;
}

.ticket_id_allInOne_days_90 .legend-label__title {
  background-color: #d95b57;
  color: #fff;
}

.ticket_id_allInOne_days_365 .legend-label__title {
  background-color: #e5605c;
  color: #fff;
}

.ticket_id_troika .legend-label__title {
  background-color: #4bacc6;
  color: #fff;
}

.ticket_id_tat_days_30 .legend-label__title {
  background-color: #1f497d;
  color: #fff;
}
