.legend-group {
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: .2em;
  padding: .4em;
  margin: 0;
  /* width: 15%; */
}

.legend-group__title {
  margin: 0;
  font-size: .8em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #aaa;
  margin-bottom: .4em;
}

.legend-group__ticket-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .4em;
}
