.legend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
  grid-auto-flow: row dense;
  gap: .4em;
  width: 100%;
}

.legend .legend_hasLongGroup {
  grid-row: 1 / span 2;
}
