.plot {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1em 1em 1fr;
  grid-template-rows: 1fr 1em 1em;
  grid-template-areas:
    "axis-label-y numbers-y plot"
    "none         none      numbers-x"
    "none         none      axis-label-x";

}

.plot__axis-label {
  grid-area: axis-label-x;
  margin: 0;
  width: max-content;
  height: fit-content;
}

.plot__axis-label_axis_y {
  grid-area: axis-label-y;
  transform: rotate(-90deg) translateY(1em);
  transform-origin: left bottom;
  align-self: end;
}

.plot__scale-labels {
  grid-area: numbers-x;
  display: flex;
  justify-content: space-between;
}

.plot__scale-labels_axis_y {
  grid-area: numbers-y;
  flex-direction: column-reverse;
}

.plot__scale-number {
  display: none;
  margin: 0;
  text-align: right;
  font-size: .7em;
}

.plot__scale-number:nth-last-child(5n + 1) {
  display: block;
}
