.plot {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100vmin;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  max-height: 80vh;
  display: grid;
  grid-template-columns: 1em 1.5em 1fr;
  grid-template-rows: 1fr 1.5em 1em;
  grid-template-areas:
    "axis-label-y numbers-y plot"
    "none         none      numbers-x"
    "none         none      axis-label-x";
}

/* Подпись оси */
.plot__axis-label {
  margin: 0;
  width: max-content;
  height: fit-content;
  text-align: center;
  justify-self: center;
}

.plot__axis-label::after {
  content: '';
  display: inline-block;
  width: 2ex;
  height: 1ex;
  margin-left: .3em;
  background-image: url(../images/arrow-right.svg);
  background-size: cover;
  background-position: center;
  opacity: .5;
}

.plot__axis-label_axis_x {
  grid-area: axis-label-x;
  align-self: end;
}

.plot__axis-label_axis_y {
  grid-area: axis-label-y;
  transform: rotate(-90deg);
  align-self: center;
}

/* Шкала с цифрами */
.plot__scale-labels {
  grid-area: numbers-x;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.plot__scale-labels_axis_y {
  grid-area: numbers-y;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.plot__scale-number {
  display: none;
  margin: 0;
  text-align: center;
  font-size: .7em;
  width: 2ch;
  line-height: 1;
}

.plot__scale-number:nth-last-child(5n + 1) {
  display: block;
}

/* Выделение вида траснпорта доп иконкой */
.plot__transport-name {
  font-weight: bold;
}

.plot__transport-name::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-inline-end: .2em;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: -.2em;
  font-size: initial;
}

.plot__transport-name_type_metro::before {
  background-image: url(../images/icon_metro.svg);
  vertical-align: -.35em;
}

.plot__transport-name_type_bus::before {
  background-image: url(../images/icon_bus.svg);
}

.plot__transport-name_type_tram::before {
  background-image: url(../images/icon_tram.svg);
}

.plot__transport-name_type_trolley::before {
  background-image: url(../images/icon_trolley.svg);
}

@media (max-width: 600px) {
  .plot__axis-label_axis_y .plot__transport-name {
    font-size: 0; /* Скрытие текста на маленьких экарнах */
  }
}

/* Непосредственно само поле графика */
.plot__cells {
  display: grid;
  grid-template-columns: repeat(71, 1fr);
  grid-template-rows: repeat(71, 1fr);
}

.plot__cell {
  background-color: #eee;
  border-radius: 50%;
}
