.root{
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* Цвета страницы */
  background-color: #fff;
  color: #000;
  /* Позиционирование секций*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  min-width: 320px;
  box-sizing: border-box;

  /* Цвета билетов */
  --color__allInOne_trips_60: #c0504d;

  --color__allInOne_days_30: #cc5652;
  --color__allInOne_days_90: #d95b57;
  --color__allInOne_days_365: #e5605c;

  --color__troika: #10a6c8;

  --color__bankcard_mir-promo: #00905e;

  --color__tat_days_30: #005580;
  --color__compound__tat_days_30__troika: #005580;

  --color__tat_days_90: #006699;
  --color__compound__tat_days_90__troika: #006699;

  --color__tat_days_365: #007dbd;
  --color__compound__tat_days_365__troika: #007dbd;



  --color__;
  --color__;
  --color__;
}

a {
  color: inherit;
  transition: opacity .2s, text-decoration-color .5s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #007dbd;
}

a:hover {
  text-decoration-color: #db2426;
}
