.ticket-group {
  border-radius: .2em;
  font-family: 'Open Sans', sans-serif;
  padding: .4em;
  border: none;
  margin: 0;
  flex-grow: 1;
  width: 15%;
}

.ticket-group__title {
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #aaa;
  margin-bottom: .4em;
}

.ticket_group__ticket-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .4em;
}
