.menu-button {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: transform 0.2s;
}

.menu-button:hover {
  transform: translateX(-15%);
}

.menu-button_type_tickets {
  background-image: url(../../images/tickets-icon.svg);
}

@media (min-width: 1024px) {
  .menu-button_type_tickets {
    display: none;
  }
}

.menu-button_type_info {
  background-image: url(../../images/info-icon.svg);
}
