.tickets {
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 1024px) {
  .tickets {
    padding: 0;
    height: calc(100% - 2.5em);
  }
}

.tickets__title {
  padding-inline: 16px;
  margin: 0;
  margin-bottom: 0.5em;
  font-family: Merriweather, serif;
}

.tickets__form {
  padding-inline: 16px;
  overflow-y: auto;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 0.5em;
}
