.header {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .header {
    align-items: center;
    padding-top: 0;
    padding-inline: 4em;
  }
}

.header__title {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  margin: 0;
  padding-right: 3em;
  max-width: 900px;
  text-align: left;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 32px;
    text-align: center;
    padding: 0;
  }
}

.header__version {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6em;
  font-weight: normal;
  opacity: 0.5;
  margin-left: 0.3em;
}

.header__subtitle {
  margin: 0;
  max-width: 900px;
}

@media (min-width: 425px) {
  .header__subtitle {
    padding-right: 4em;
  }
}

@media (min-width: 768px) {
  .header__subtitle {
    text-align: center;
    padding: 0;
  }
}
