.header {
  padding-bottom: 1em;
  padding-inline: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  line-height: 1.2;
}

.header__title {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

.header__title::after {
  margin-left: 0.3em;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(../../images/troika-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: background-image 0.2s;
}

.header__title:hover::after {
  background-image: url(../../images/ediniy-icon.svg);
}

.header__subtitle {
  margin: 0;
  text-align: center;
}
