@import url(./vendor/normalize.css);

@import url(./vendor/fonts/Merriweather/Merriweather.css);
@import url(./vendor/fonts/OpenSans/OpenSans.css);

html {
  max-height: -webkit-fill-available; /* mobile viewport bug fix */
}

.root {
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */

  /* Текст */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  /* Цвета страницы */
  --surface: #f5f5f5;
  --on-surface: #000;
  background-color: var(--surface);
  color: var(--on-surface);

  /* Цвета билетов */

  --ticket-allInOne_trips_60: #c0504d;
  --ticket-allInOne_trips_60: 192, 80, 77;

  --ticket-allInOne_days_30: #cc5652;
  --ticket-allInOne_days_30: 204, 86, 82;

  --ticket-allInOne_days_90: #d95b57;
  --ticket-allInOne_days_90: 217, 91, 87;

  --ticket-allInOne_days_365: #e5605c;
  --ticket-allInOne_days_365: 229, 96, 92;

  --ticket-troika: #10a6c8;
  --ticket-troika: 16, 166, 200;

  --ticket-bankcard_mir-promo: #00905e;
  --ticket-bankcard_mir-promo: 0, 144, 94;

  --ticket-tat_days_30: #005580;
  --ticket-tat_days_30: 0, 85, 128;

  --ticket-compound__tat_days_30__troika: #005580;
  --ticket-compound__tat_days_30__troika: 0, 85, 128;

  --ticket-tat_days_90: #006699;
  --ticket-tat_days_90: 0, 102, 153;

  --ticket-compound__tat_days_90__troika: #006699;
  --ticket-compound__tat_days_90__troika: 0, 102, 153;

  --ticket-tat_days_365: #007dbd;
  --ticket-tat_days_365: 0, 125, 189;

  --ticket-compound__tat_days_365__troika: #007dbd;
  --ticket-compound__tat_days_365__troika: 0, 125, 189;
}

/* Ссылки по умолчанию */
a {
  color: inherit;
  transition: opacity 0.2s, text-decoration-color 0.5s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #007dbd;
  text-underline-offset: 0.2em;
}

a:hover {
  text-decoration-color: #db2426;
}

/* Кнопки с дополнительными меню */
#menu-buttons {
  position: absolute;
  top: 2em;
  right: 1em;
  z-index: 0;
  width: 3em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@media (min-width: 768px) {
  #menu-buttons {
    top: 1em;
  }
}
